extends ../../../views/_view-forms.pug

include ../../../views/_mixins.pug

block vars
    - var LOADING_PROMISE = 'variableForm.variablePromise';
    - var FORM_TITLE = '{{"Add a new variable"|translate}}';
    - var VARIABLE_FORM_NAME = 'variableForm';
    - var FORM_NAME = VARIABLE_FORM_NAME;
block fields
    include _form.pug
block actions
    .form-group(ng-if="currentContainer.$container.hasPermission('edit')")
        hr.divider
        +field_submit(
            FORM_NAME,
            '{{"Save"|translate}}'
        )(
            ng-click="#{FORM_NAME}.$valid ? view.submitForm(view.variable) : view.displayInvalidFormMessage()",
            ng-disabled="!view.formTouched"
        )
